[2021-05-28 18:23] Pranav016 opened #1 "Store GIFs"

[2021-06-05 17:28] Pranav016 opened #6 "Add Contribution Guidelines file to the project"
### Feature request-
Add Contribution Guidelines file to the project. Refer to - https://github.com/ALPHAVIO/WordNook/blob/master/CONTRIBUTING.md

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work o

[2021-06-05 17:29] Pranav016 opened #7 "Add code of conduct file to the repository"
### Feature request-
Add code of conduct file to the repository. Refer to- https://github.com/ALPHAVIO/WordNook/blob/master/CODE_OF_CONDUCT.md

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on i

[2021-06-05 19:43] Pranav016 opened #8 "Make a logo for `Mirage UI`"
### Feature request-
Make a logo for `Mirage UI`.  Using the text only `Mirage UI`, make a very small logo with of styled wordings. I think rainbow style would look good but you can make multiple styles and we can chose between them.

Also I saw a logo the other day that was rainbow text and had some animation to it (probably a GIF), something of that sort would also look good.

Maybe a small logo

[2021-06-05 19:46] Pranav016 opened #9 "Add card flip animation component"
# Feature request-
Add card flip animation component.

https://user-images.githubusercontent.com/54665036/120903615-bcb5ea80-c664-11eb-8068-fc09da2f1b13.mp4

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and wan

[2021-06-06 03:55] akshatvirmani commented on #9
/assign

[2021-06-06 03:56] akshatvirmani commented on #7
/assign

[2021-06-06 19:31] Pranav016 opened #10 "Add static wave design frontend component"
### Feature request-
Make sure the code is simple to understand and easy to use.

You don't have to replicate it exactly like this, this is just for example-

https://user-images.githubusercontent.com/54665036/120937549-b0489500-c72b-11eb-9c55-d49738fed39f.mp4

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free*

[2021-06-06 19:33] Pranav016 opened #11 "Add background motion effect component"
### Feature request-
Add a simple and easy to use background motion effect component.

https://user-images.githubusercontent.com/54665036/120937593-03224c80-c72c-11eb-9915-727b138c939e.mp4

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you

[2021-06-06 20:23] Pranav016 opened #12 "Add dynamic wave component"
### Feature request-

https://user-images.githubusercontent.com/54665036/120938947-07059d00-c733-11eb-852e-dd941af2a81e.mp4

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you sho

[2021-06-06 20:25] Pranav016 opened #13 "Add a simple vertical timeline component"
### Feature request-
Add a simple vertical timeline component with white background.

https://user-images.githubusercontent.com/54665036/120939014-59df5480-c733-11eb-8e1e-825b01b9126b.mp4

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you

[2021-06-06 20:28] Pranav016 opened #14 "Add SVG bouncing animation component"
### Feature request-
Add SVG bouncing animation component

https://user-images.githubusercontent.com/54665036/120939079-c4909000-c733-11eb-9e0d-12634492a79a.mp4

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and

[2021-06-06 20:30] Pranav016 opened #15 "Add smooth scrolling component"
### Feature request-
Add a component in which when you click a button on the navbar, it smoothly scrolls to that section of the webpage.
The code should be very simple and easy to use. You can make dummy sections for showing the scrolling.
Sample-

https://user-images.githubusercontent.com/54665036/120939127-1cc79200-c734-11eb-9bf1-2ca794edf943.mp4

<hr/>

**Note:**

-   If you want to work on an

[2021-06-07 01:15] Pranav016 opened #16 "Add scroll to top button component"
### Feature request-
Add scroll to top button component that scrolls up for you when you are in the middle or at the end of a page.
Like one on this website- https://word-nook.herokuapp.com/

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If y

[2021-06-07 04:34] ss-sahoo commented on #15
hyy @Pranav016  can I work on this issue , as I am a participant of LGM-SOC .

[2021-06-07 04:40] RR-Sahoo commented on #15
Hyy can I work on this issue

[2021-06-08 02:52] theBeginner86 commented on #15
Hey @RR-Sahoo, please refer to the note at the bottom of the issue. You'll get to know how to assign it to yourself.

[2021-06-08 03:39] RR-Sahoo commented on #15
/assign

[2021-06-08 06:06] Anupam-Panwar commented on #16
/assign

[2021-06-08 06:10] Anupam-Panwar commented on #6
/assign

[2021-06-08 15:28] nitishapiplani commented on #16
I will like to work on it

[2021-06-08 15:28] nitishapiplani commented on #14
I will like to work on it

[2021-06-08 15:47] SamikshaSankar commented on #13
/assign

[2021-06-08 15:48] SamikshaSankar commented on #10
/assign

[2021-06-08 17:09] Pranav016 opened #17 "Add a MIT License"
### Feature request-
Add a MIT License for the repo.
Reference- https://github.com/ALPHAVIO/WordNook/blob/master/LICENSE

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you should

[2021-06-10 02:27] mayankmohak commented on #17
/assign

[2021-06-10 03:06] mayankmohak commented on #17
@Pranav016  made a PR #19  please review and merge under LGM-SOC 2021

[2021-06-10 07:26] akshikamudgal commented on #11
/assign

[2021-06-10 08:02] akshikamudgal commented on #11
For which page it has to be designed.

[2021-06-10 09:32] #17 closed

[2021-06-10 20:56] Pranav016 commented on #11
It's meant to be a reusable design component so just make a very simple page and implement this, so that other people can take the code and easily use them in their projects.
No specification in what kind of page or background etc.

[2021-06-11 07:28] #16 closed

[2021-06-11 08:33] honeybhardwaj commented on #8
/assign

[2021-06-11 08:38] honeybhardwaj commented on #8
![M](https://user-images.githubusercontent.com/51120790/121657881-72969400-cabe-11eb-8762-22dd2ac91cad.png)

[2021-06-11 08:39] Pranav016 commented on #8
Doesn't look good

[2021-06-11 13:22] #10 closed

[2021-06-11 13:23] #7 closed

[2021-06-11 15:37] theBeginner86 opened #30 "Improvement in README"
### Feature request-
With this addition, I am expecting to improve the README of this project.
Basically, I am trying to add more stats about the project through github links. This includes the number of forks, issues, PR raised etc.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'

[2021-06-11 16:40] starrohan999 commented on #8
hey, @Pranav016  sir I am interested. can I also give a demo of the logo?

[2021-06-11 16:41] starrohan999 commented on #8
/assign

[2021-06-11 17:39] starrohan999 commented on #8
![mirage](https://user-images.githubusercontent.com/71714344/121727838-0e99bd00-cb0a-11eb-8559-d743b0131854.png)
![mirage (1)](https://user-images.githubusercontent.com/71714344/121727841-0fcaea00-cb0a-11eb-81bd-7a4332ed7091.png)

[2021-06-11 20:28] SamikshaSankar commented on #12
/assign

[2021-06-12 00:36] #30 closed

[2021-06-12 01:48] Pranav016 commented on #8
Could be better.
I'd suggest make something with the text only, don't worry about the symbol in the logo for now. Try styling the text with some flashy colors and clean corners, no white backgrounds.

I'd show a reference if I could fine it again.

[2021-06-12 04:16] Pranav016 opened #35 "Add dark mode component"
### Feature request-
Add dark mode component using HTML, CSS, JavaScript.

#### Are you contributing under any open-source program ?
LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it

[2021-06-12 04:21] Pranav016 opened #36 "Add button animations"
### Feature request-
Add some cool animated button designs to the repository.

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you should comment `/assign` under the issue

[2021-06-12 04:48] Pranav016 opened #37 "Add a side navigation bar component"
### Feature request-
Add a side navigation bar component.

![image](https://user-images.githubusercontent.com/54665036/121765304-834f1480-cb67-11eb-9285-12fcbcda1013.png)

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are rais

[2021-06-12 04:51] Pranav016 opened #38 "Add a modal overlay navbar component"
### Feature request-
Add a modal overlay navbar component. Basically a modal that covers the whole page with an overlay background.
![image](https://user-images.githubusercontent.com/54665036/121765347-dc1ead00-cb67-11eb-9cef-ace6c3b66879.png)

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you ca

[2021-06-12 06:25] urvashiparashar commented on #36
I want to work upon this. Please assign this task @Pranav016

[2021-06-12 06:55] Anupam-Panwar commented on #37
/assign

[2021-06-12 06:55] Pranav016 opened #39 "Add tech stack to README"
### Feature request-
Add tech stack badges to README file.
![image](https://user-images.githubusercontent.com/54665036/121767972-40963800-cb79-11eb-9bcd-be0f59126a04.png)

Don't divide into sections, just the heading and all the badges center aligned under one heading.

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If

[2021-06-12 07:00] #6 closed

[2021-06-12 07:03] akshatvirmani commented on #39
/assign

[2021-06-12 07:05] Anupam-Panwar commented on #36
You have to type /assign to automatically get it assigned to you

[2021-06-12 07:06] Anupam-Panwar commented on #38
/assign

[2021-06-12 07:14] urvashiparashar commented on #36
/assign

[2021-06-12 08:30] Malvika18 commented on #35
/assign

[2021-06-12 08:36] Sanyam17-beep commented on #38
/assign

[2021-06-12 10:24] starrohan999 commented on #8
sure @Pranav016  sir

[2021-06-12 13:48] theBeginner86 opened #40 "Hide and Seek component"
### Feature request-
This component could give full control to the visitors for seeing or hiding notifications from the visited website.

### Additional context

https://user-images.githubusercontent.com/73700530/121778011-858a9080-cbb2-11eb-9585-1211ec153ddd.mov

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the is

[2021-06-12 14:14] theBeginner86 opened #41 "Hover Effects in Navbar"
### Feature request-
It should execute dropdown-like functionality on hovering. Moreover, it can also change the view of the navbar depending upon the sub-menu which is being hovered at a particular instant of time.

### Additional context

https://user-images.githubusercontent.com/73700530/121778839-70affc00-cbb6-11eb-86c0-9e0612c2c109.mov

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an

[2021-06-12 14:47] theBeginner86 opened #42 "Carousel Component"
### Feature request-
Addition of carousel component.

### Additional context

https://user-images.githubusercontent.com/73700530/121779758-ec13ac80-cbba-11eb-982e-8d7c65dcecd5.mov

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you

[2021-06-12 14:57] Sanyam17-beep commented on #42
/assign

[2021-06-12 14:58] Sanyam17-beep commented on #41
/assign

[2021-06-12 15:00] Sanyam17-beep commented on #40
/assign

[2021-06-13 03:29] Pranav016 opened #43 "Add slide-down animation component"
### Feature request-
Add slide-down animation component

https://user-images.githubusercontent.com/54665036/121794435-97594b80-cc25-11eb-8c14-b34f9fca9369.mp4

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new is

[2021-06-13 03:36] Pranav016 commented on #41
This is going to be a complex component to make :)

[2021-06-13 03:38] Pranav016 opened #44 "Add card pop-up animation on hover"
### Feature request-
When hovered over, the card pops up to reveal some information.

![image](https://user-images.githubusercontent.com/54665036/121794555-df2ca280-cc26-11eb-96d3-5c71092575bb.png)

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned

[2021-06-13 05:15] Pranav016 opened #45 "Add Z-Image cut design component"
### Feature request-
We have a V cut design here. I think a zig-zag design would look better.
Add zig-zag image cut design component.

![image](https://user-images.githubusercontent.com/54665036/121796130-7a784480-cc34-11eb-8705-9bc6548c2d7a.png)

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you

[2021-06-13 15:53] Sejal2801 commented on #43
I want to work on this issue, please assign it to me.

[2021-06-13 16:47] bhoskarpooja commented on #44
/assign To me Please.

[2021-06-13 18:49] theBeginner86 commented on #43
Hey @Sejal2801, please have look at the note placed at the bottom of the issue. You would automatically get to know about how to assign the issue to yourself.

[2021-06-13 20:08] rishabhrathore055 opened #47 "Add open source program section to README"

[2021-06-13 20:09] rishabhrathore055 commented on #47
/assign

[2021-06-14 03:25] theBeginner86 commented on #47
Hey @rishabhrathore055, please don't remove the template while creating new issues. Templates help us to know the type of change contributors want.

#### So, please add the description with a screenshot/demo video about the change in readme which you want.

[2021-06-14 03:43] theBeginner86 opened #48 "Reading Progress Bar Component"
### Feature request-
This progress bar should display the amount of content read by the reader and the amount which is left. This would further add motivation to the reader to finish what they are reading by scrolling down.

### Additional context

https://user-images.githubusercontent.com/73700530/121836048-524e1b80-ccf0-11eb-9d95-a640df6e6179.mov

LGM-SOC

<hr/>

**Note:**

-   If you want to wo

[2021-06-14 10:37] Pranav016 opened #49 "Add a scrollspy design component"
### Feature request-
Add a scrollspy design component.

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you should comment `/assign` under the issue to get it auto assigne

[2021-06-14 10:40] Pranav016 opened #50 "Add responsive bubble animation sign-up/ login form component"
### Feature request-
Add responsive bubble animation sign-up/ login form component

![image](https://user-images.githubusercontent.com/54665036/121879915-040a3e00-cd2b-11eb-8c5a-38c4aeddee32.png)

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-

[2021-06-14 10:41] Pranav016 commented on #8
Any updates on this issue?

[2021-06-14 11:12] rishabhrathore055 commented on #47
@theBeginner86 want to add open source program section and
Contributing Guidelines

[2021-06-14 11:30] theBeginner86 commented on #47
Please have a look at this: https://github.com/ALPHAVIO/Mirage-UI/blob/master/CONTRIBUTING.md

We already have that.

[2021-06-14 12:39] bhoskarpooja commented on #44
Can I change Class names  of cards ?

[2021-06-14 13:34] bhoskarpooja commented on #44
![Screenshot (507)](https://user-images.githubusercontent.com/72018117/121900609-3a53b780-cd43-11eb-85f2-8243a160277c.png)

I Am facing this problem while pushing my commits to my repo.
@Pranav016 please help me.

[2021-06-14 13:35] Pranav016 commented on #44
Have you forked the repo?

[2021-06-14 14:12] Pranav016 commented on #44
Check the branch you are pushing, you are pushing `main` but for the project the default branch is `master`. I am not sure which branch you have worked on so just check once which branch you are currently on and then push that 👍

[2021-06-14 16:02] Shaishav0507 opened #51 "Add Code of conduct and License in readme file."
### Feature request-

Hey @Pranav016
I would like to add code of conduct and license in readme file.
Please assign it to me.
Thanks.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've

[2021-06-14 16:11] Pranav016 commented on #51
Is the issue about adding links to README ? Coz the files are already present..

[2021-06-14 16:15] Shaishav0507 commented on #51
Yes they are present in repo but not linked to readme file. So I wanted to link them.

[2021-06-14 18:31] bhoskarpooja commented on #48
/assign to me please.

[2021-06-14 19:38] bhoskarpooja commented on #48
When am going to pull request after solving my 2nd issue and 1st one is unreviwed. Am facing this problem how can i create PR?
![Screenshot (509)](https://user-images.githubusercontent.com/72018117/121949562-38571c00-cd76-11eb-8c41-d20e9e6e1e5f.png)

[2021-06-14 19:40] Amit-45 commented on #8
/assign

[2021-06-15 01:52] theBeginner86 commented on #48
I feel that you are facing this issue because you are using the same branch for two different PRs.
I would suggest you to checkout to a new branch for each new feature (or PR) and delete it once that PR is merged successfully. By doing this, your local repo would remain clean. Moreover, it is advised to always work on a separate branch than the master branch.
For next time just keep this thing in

[2021-06-15 03:28] Pranav016 commented on #51
Yes, go ahead. Read the note under the issue and get the issue assigned.

[2021-06-15 03:28] Pranav016 commented on #51
/reviewed

[2021-06-15 03:34] Shaishav0507 commented on #51
Ok.

[2021-06-15 03:34] Shaishav0507 commented on #51
/assign

[2021-06-15 03:35] Shaishav0507 commented on #51
@Pranav016 please add LGMsoc label to it.

[2021-06-15 03:57] Pranav016 commented on #51
Add it above the maintainers and contributors section, in the `Note`

[2021-06-15 08:31] Manasa2811 commented on #8
Hey @Pranav016 , I have a design in my mind. Could I give it a try after the currently assigned person is done?

[2021-06-15 10:06] urvashiparashar commented on #36
Please review it.

[2021-06-15 13:20] #37 closed

[2021-06-15 14:40] Anupam-Panwar commented on #49
/assign

[2021-06-15 16:03] bhoskarpooja commented on #48
Ok thank you.

[2021-06-15 19:03] #51 closed

[2021-06-15 20:04] Khushi-agarwal commented on #9
/assign

[2021-06-15 20:05] Khushi-agarwal commented on #9
@Pranav016 I would like to work on this issue.Can you please assign it to me under lgmsoc.

[2021-06-15 20:08] Khushi-agarwal commented on #50
/assign

[2021-06-15 20:23] PurviGoyal7 commented on #43
/assign

[2021-06-16 04:17] cmulay opened #57 "Add responsive nav-bar in angular"
### Feature request-
Adding header component to angular.

#### Are you contributing under any open-source program ?
Yes, LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also yo

[2021-06-16 04:18] cmulay commented on #57
/assign

[2021-06-16 16:46] #39 closed

[2021-06-16 17:57] #36 closed

[2021-06-16 19:19] ishitakapoor26 opened #65 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 19:19] ishitakapoor26 commented on #65
/assign

[2021-06-17 04:17] akshatvirmani opened #66 "Updating the vue in tech stack"
### Feature request-
Updating the vue logo in tech stack.

#### Are you contributing under any open-source program ?

I am a participant of LGM-SOC.

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to wor

[2021-06-17 04:18] akshatvirmani commented on #66
/assign

[2021-06-17 06:55] Pranav016 commented on #65
Score card? Can you give some more info on the issue?

[2021-06-17 07:08] ishitakapoor26 commented on #65
![score card](https://user-images.githubusercontent.com/78542333/122348548-e6c2b300-cf68-11eb-97f8-b1210303e47e.PNG)
@Pranav016 Like this

[2021-06-17 07:12] Pranav016 commented on #65
I don't think this is required in the readme

[2021-06-17 07:12] #65 closed

[2021-06-17 08:40] bhoskarpooja commented on #45
![Screenshot (518)](https://user-images.githubusercontent.com/72018117/122361905-5179eb80-cf75-11eb-809b-0da207fc2d8c.png)

You want this type of Zig zag?

[2021-06-17 08:41] Pranav016 commented on #45
Yes zig Zag but only 4-5 big cuts, less cuts than in this pic

[2021-06-17 08:44] bhoskarpooja commented on #45
ok

[2021-06-17 09:06] Pranav016 opened #70 "Add a modal overlay component in React"
### Feature request-
Add a modal overlay component in React.
Keep the code super simple so that it is reusable and use React portals (if necessary) to make sure the modal comes over rest of the elements in the DOM.

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get th

[2021-06-17 09:07] Pranav016 opened #71 "Add an accordian component in react"
### Feature request-
Add an accordian component in react

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you should comment `/assign` under the issue to get it auto assig

[2021-06-17 09:54] Pranav016 opened #72 "Add an image gallery component"
### Feature request-
Add an image gallery component.
There are a lot of different image galleries out there on different websites, under this issue you can add any image gallery design that you like/ you can develop.
This would be helpful for a lot of other developers.

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If

[2021-06-17 10:04] Pranav016 opened #77 "GitHub action to auto-merge PRs from all-contributors"
### Feature request-
Add GitHub action to auto-merge PRs from all-contributors bot

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you should comment `/assign` under the issue to

[2021-06-17 16:17] Pranav016 commented on #8
Yes, you can also try.

[2021-06-17 17:16] bhoskarpooja commented on #72
/assign

[2021-06-17 17:49] Manasa2811 commented on #8
https://user-images.githubusercontent.com/57994923/122447410-55335f80-cfc1-11eb-9157-9a411243b261.mp4

https://user-images.githubusercontent.com/57994923/122447453-63817b80-cfc1-11eb-882e-53a022d3203f.mp4

https://user-images.githubusercontent.com/57994923/122448451-6466dd00-cfc2-11eb-8772-c1ef3f0398eb.mp4

[2021-06-17 18:16] Manasa2811 commented on #8
![MIRAGE](https://user-images.githubusercontent.com/57994923/122451778-279ce500-cfc6-11eb-9c3f-47b27082c521.gif)
![Mirage ui 2](https://user-images.githubusercontent.com/57994923/122451792-2a97d580-cfc6-11eb-9673-961ae6aee1eb.gif)
![Mirage UI](https://user-images.githubusercontent.com/57994923/122451808-2d92c600-cfc6-11eb-9e16-79ddcfad5a2e.gif)

[2021-06-17 19:00] starrohan999 commented on #8
![mirage](https://user-images.githubusercontent.com/71714344/122457447-48683900-cfcc-11eb-9231-07b31851602a.png)

[2021-06-18 08:06] #42 closed

[2021-06-18 08:13] #48 closed

[2021-06-18 08:17] Pranav016 commented on #8
![MIRAGE](https://user-images.githubusercontent.com/57994923/122451778-279ce500-cfc6-11eb-9c3f-47b27082c521.gif)

This one looks really nice, if you could update the animation on this we can accept it.
Also. this has a black background it might not look good if someone is going through the README in light mode, any solution to that ?

[2021-06-18 08:24] Manasa2811 commented on #8
Maybe I could make the background transparent, would that work? @Pranav016

[2021-06-18 08:24] Manasa2811 commented on #8
And what about the animation? Would you like me to change it? I didn't understand

[2021-06-18 08:27] Pranav016 commented on #8
Yes that would be great

[2021-06-18 08:30] Pranav016 commented on #8
The animation of how the text slides from the left, if you could add some other animation like a fade out etc that would be great for options but otherwise also animation looks fine 👍

[2021-06-18 08:55] Manasa2811 commented on #8
https://user-images.githubusercontent.com/57994923/122535252-00372e00-d041-11eb-9bec-9a5768f37621.mp4

https://user-images.githubusercontent.com/57994923/122535273-04634b80-d041-11eb-81bb-ed912a83a527.mp4

[2021-06-18 08:59] Manasa2811 commented on #8
![mirage (2)](https://user-images.githubusercontent.com/57994923/122535675-69b73c80-d041-11eb-88ef-aee0cff68e02.gif)
![mirage (1)](https://user-images.githubusercontent.com/57994923/122535716-720f7780-d041-11eb-8f0e-19eceafee040.gif)

[2021-06-18 09:01] Pranav016 commented on #8
This one looks the best out of the rest, if you could make the background transparent then that would be great.

[2021-06-18 09:01] Manasa2811 commented on #8
Ok so I have added 2 more animations. But I am not able to change the background to transparent as I don't have the paid version of the app I am using. If u want me to make another copy of this with a white background so that you could use both I could do that, but I'm not able to make it transparent, sorry about that.

[2021-06-18 09:02] Pranav016 commented on #8
Ok, you can make the PR adding this logo to the README👍

[2021-06-18 09:03] Manasa2811 commented on #8
okay, sure will do it.

[2021-06-19 13:37] Pranav016 commented on #9
@akshatvirmani are you still working on this ?

[2021-06-19 13:38] Pranav016 commented on #12
@SamikshaSankar are you still working on this ?

[2021-06-19 13:47] Khushi-agarwal commented on #9
@Pranav016 can I work on this?

[2021-06-19 13:47] Pranav016 commented on #9
Yes I'll assign it to you if he doesn't reply.

[2021-06-19 20:18] #49 closed

[2021-06-20 03:56] theBeginner86 commented on #44
Since the PR has been merged so I am closing this issue.

[2021-06-20 03:56] #44 closed

[2021-06-20 04:00] theBeginner86 commented on #66
## Please comment within a day, if you are still working on this issue. If we don't get the response then we have to unassign this issue and give other contributors a chance. 😊🙂

[2021-06-20 04:03] theBeginner86 commented on #13
## Please comment within a day, if you are still working on this issue. If we don't get the response then we have to unassign this issue and give other contributors a chance. 😊🙂

[2021-06-20 04:04] theBeginner86 commented on #14
## Please comment within a day, if you are still working on this issue. If we don't get the response then we have to unassign this issue and give other contributors a chance. 😊🙂

[2021-06-20 04:06] theBeginner86 commented on #15
## Please comment within a day, if you are still working on this issue. If we don't get the response then we have to unassign this issue and give other contributors a chance. 😊🙂

[2021-06-20 04:47] akshatvirmani commented on #9
I am facing difficulty in doing this. You can assign this issue to her.

[2021-06-20 06:21] nitishapiplani commented on #14
Yess I am working on it as I had my vaccination I am not well that's why not able to complete so if you want you can assign to someone else

[2021-06-20 06:53] Anupam-Panwar commented on #45
/assign

[2021-06-20 07:11] theBeginner86 commented on #14
No problem.
You may take your time.
Sorry! I was not knowing that. Take rest as well.

[2021-06-20 14:45] Pranav016 opened #92 "Add Top-down animation responsive Navbar in React"
### Feature request-
Add Top-down animation responsive Navbar in React

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you should comment `/assign` under the issue to get it auto

[2021-06-20 17:55] nitishapiplani commented on #14
no need of sorry plzz assign to someone else

[2021-06-20 17:59] Pranav016 commented on #14
You can yourself unassign the issue if you are not able to work. A tip for the future as well ^
Take care 🙂

[2021-06-20 18:01] nitishapiplani commented on #14
i know that but wanted to tell u before doing something like that if i do without telling it would not be professional behaviour

[2021-06-20 18:09] Pranav016 commented on #14
I think it helps us focus on reviewing the issues and PRs because it gets hectic when we need to assign and unassign so many issues so we actually appreciate if someone unassigns it by themselves 👍

[2021-06-20 18:10] SamikshaSankar commented on #13
Yes I am working on it

[2021-06-20 18:24] nitishapiplani commented on #14
okkay

[2021-06-20 18:24] Pranav016 commented on #14
Plz unassign 🙂

[2021-06-21 09:52] okarin1511 commented on #70
/assign

[2021-06-21 09:53] okarin1511 commented on #70
/assign

[2021-06-22 04:18] Anshika-Srivastava opened #93 "Expanding Cards"
### Feature request-
I would like to provide my code for expanding cards. It will be a sort of widget wherein you click and a particular image will be expanded and rest of them will seize. It can be used in various websites.

https://user-images.githubusercontent.com/67851072/122862327-94a1d900-d33e-11eb-9e04-56af81344fdb.mp4

**Please ignore the background voice.**

**Note:**

-   If you want to

[2021-06-22 04:18] Anshika-Srivastava commented on #93
/assign

[2021-06-22 04:25] Anshika-Srivastava opened #94 "Theme Clock: Light and Dark themes"
**I would like to provide my code for a theme clock with both light and dark themes. You can check the preview below:**

https://user-images.githubusercontent.com/67851072/122863087-d1220480-d33f-11eb-9f7e-b30565623c5b.mp4

Please ignore the background noise!

**Please assign me this under LGMSOC'21
Thank You**

[2021-06-22 04:25] Anshika-Srivastava commented on #94
/assign

[2021-06-22 05:58] Pranav016 commented on #94
Sorry, but this component doesn't fit in the project.

[2021-06-22 05:58] #94 closed

[2021-06-22 07:18] #92 closed

[2021-06-22 17:41] Umesh-01 opened #97 "add some badges and make them of single type"
### Feature request-
I will add some more badges to the top of readme.md file and make them of single type so that it will look more interactive and awesome, since the badges will be colorful and more attractive than the text the users will like it and it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

See this image, the badge are of different

[2021-06-22 19:04] Pranav016 commented on #97
Which badges do you want to add ? Can you be a bit specific ? or maybe show a screenshot of a badge that you want to add

[2021-06-22 19:04] Pranav016 commented on #97
/reviewed

[2021-06-22 19:05] Pranav016 commented on #47
@rishabhrathore055 Add the open source program section under this issue

[2021-06-22 19:05] Pranav016 commented on #47
/reviewed

[2021-06-23 06:56] theBeginner86 opened #99 "Drag N Drop Component"
### Feature request-
Add a component that allows drag n drop functionality for pictures.

### Additional context

https://user-images.githubusercontent.com/73700530/123050231-1a488600-d41e-11eb-817b-57c682477eb9.mov

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get t

[2021-06-23 07:07] theBeginner86 opened #100 "Custom Range Slider Component"
### Feature request-
Add a range slider component that gives the users full control over the range they can select for their particular use case.

### Additional context

https://user-images.githubusercontent.com/73700530/123051549-8a0b4080-d41f-11eb-9c63-69f1ad728151.mov

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **

[2021-06-23 09:01] Sanyam17-beep commented on #100
/assign

[2021-06-23 09:03] Sanyam17-beep commented on #99
/assign

[2021-06-23 10:47] #70 closed

[2021-06-23 11:00] Pranav016 commented on #100
I think this component is simple, it is directly available on Bootstrap's website thus we shouldn't add this as it is, maybe combined with some other component or in some other form factor. Re-open issue if needed.
Ref- https://getbootstrap.com/docs/5.0/forms/range/

[2021-06-23 11:01] #100 closed

[2021-06-23 11:02] Pranav016 commented on #99
This component looks useful 👍 Good for reference for anyone who want to use this in their website.
A tip for those trying to implement- there is Drag and drop API in HTML so you can use that

[2021-06-23 11:03] Pranav016 commented on #99
/reviewed

[2021-06-23 16:50] Umesh-01 commented on #97
@Pranav016 I will add badges like for closed PRs, closed issues, license, forks, etc..

[2021-06-23 16:53] Umesh-01 commented on #97
will make them of single type
will add some more badges
will add links to them, for easy navigation

[2021-06-23 16:54] Umesh-01 commented on #97
/assign

[2021-06-23 23:41] Anupam-Panwar commented on #15
/assign

[2021-06-24 05:48] Sanyam17-beep commented on #14
/assign

[2021-06-24 05:58] Sanyam17-beep commented on #14
hey @Pranav016 @nitishapiplani when will my pr reviewed i have to push this effect too

[2021-06-24 06:22] Pranav016 commented on #14
I will review it soon, you can still make a PR from a new branch. Make a new branch from 'master' and you can work on that and make a new PR.

[2021-06-24 06:52] Khushi-agarwal opened #102 "Animated card stacks"
### Feature request
I would like to add animated cards stacks.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative solution

[2021-06-24 06:56] Khushi-agarwal commented on #102
/assign

[2021-06-24 14:22] #15 closed

[2021-06-24 14:24] Pranav016 commented on #102
/reviewed

[2021-06-25 05:09] Sanyam17-beep commented on #11
hey @Pranav016 is it open to work

[2021-06-25 09:05] #9 closed

[2021-06-25 09:18] #40 closed

[2021-06-25 10:17] Sanyam17-beep commented on #71
/assign

[2021-06-25 16:04] Sanyam17-beep commented on #11
/assign

[2021-06-26 00:32] Pranav016 commented on #11
@Sanyam17-beep Please complete or unassign previously assigned issues and try to get not more than 2 issues assigned at the same time. You currently have 4 issues assigned so please unassign a couple issues

[2021-06-26 00:34] #14 closed

[2021-06-26 00:36] Pranav016 commented on #11
@Sanyam17-beep Please complete your previously assigned issues or unassign them so that others also get a chance. Try to have not more than 2 issues assigned at the same time, currently you have 4. Please unassign a couple

[2021-06-26 05:13] Sanyam17-beep commented on #71
-unassign

[2021-06-26 05:15] Sanyam17-beep commented on #71
/unassign

[2021-06-26 05:16] Sanyam17-beep commented on #71
/un-assign

[2021-06-26 07:05] Sanyam17-beep commented on #41
/assign

[2021-06-26 07:08] Sanyam17-beep commented on #11
@Pranav016 i have unassigned it after this pr i have only two issue at  a time
and sorry for this

[2021-06-26 22:05] #38 closed

[2021-06-27 14:17] #11 closed

[2021-06-28 06:41] 23-24 commented on #41
/assign

[2021-06-28 15:58] 23-24 commented on #72
/assign

[2021-06-29 06:39] Sanyam17-beep opened #116 "new"
### Feature request-
A clear and concise description of the feature.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative so

[2021-06-29 06:39] #116 closed

[2021-06-29 08:59] 23-24 commented on #72
/assign

[2021-06-30 14:00] aanchalrakheja commented on #8
would like to work on this issue

[2021-06-30 14:01] aanchalrakheja commented on #8
/assign

[2021-06-30 14:08] aanchalrakheja opened #117 "Animated Search bar or Form field"
https://user-images.githubusercontent.com/68388581/123975023-b2c0a680-d9da-11eb-8563-7ca3c6c2bb83.mp4

This kind of animation can be tried for Search Bars or Any form field.

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new iss

[2021-06-30 18:50] Anupam-Panwar commented on #45
![image](https://user-images.githubusercontent.com/65714751/124015150-fd094e00-da01-11eb-88ba-72ed64cd6d11.png)
## Do you want something of this sort ?

[2021-06-30 18:58] Pranav016 commented on #45
Yes, different color combination would be better but the design is correct👍

[2021-06-30 19:20] Anupam-Panwar commented on #45
Okay @Pranav016
Got it

[2021-06-30 19:30] Pranav016 commented on #45
You can just change the background color and color of the zig Zag design and make a PR with this.

[2021-07-01 15:34] theBeginner86 opened #118 "Always moving Carousel"
### Feature request-
Here, the carousel in a website should be moving constantly with sufficient speed so that the user is able to read the contents and doesn't need to bother about clicking the right/left button to see new testimonials.

### Additional context

https://user-images.githubusercontent.com/73700530/124150850-96426e00-daaf-11eb-942c-d38265316fe4.mov

LGM-SOC

<hr/>

**Note:**

-   If

[2021-07-01 18:55] puneetkaur2929 opened #119 "In buttons Glowing Gradient Fix"
Hey @Pranav016
As you can see glowing gradient is not working.
I am interested to fix this .
Kindly assign this issue to me under LGM SOC '21
![Screenshot (56)](https://user-images.githubusercontent.com/80326308/124175999-efb89600-dacb-11eb-8824-6a9fafa74065.png)

[2021-07-01 18:55] puneetkaur2929 commented on #119
/assign

[2021-07-01 19:00] puneetkaur2929 opened #120 "To fix mouse enter button"
Hey @Pranav016
As you can see mouse enter button  is not working.
I am interested to fix this .
Kindly assign this  issue to me under LGM SOC '21
![Screenshot (57)](https://user-images.githubusercontent.com/80326308/124176492-956c0500-dacc-11eb-8d80-b3727219602b.png)

[2021-07-01 19:00] puneetkaur2929 commented on #120
/assign

[2021-07-01 19:58] theBeginner86 commented on #120
@puneetkaur2929
Yeah, you are correct. I just checked it out. (There are some minor issues with linking of the stylesheet) 🙂
Thanks for pointing it out. 👍

**From next time please make use of the issue template and don't alter it. It helps us to understand the problem better.
You can easily enter the parts of your issue into each sub-section.**

[2021-07-01 19:58] theBeginner86 commented on #120
/reviewed

[2021-07-01 20:00] theBeginner86 commented on #119
@puneetkaur2929
Yeah, you are correct. I just checked it out. (There are some minor issues with linking of the stylesheet) 🙂
Thanks for pointing it out. 👍

**From next time please make use of the issue template and don't alter it. It helps us to understand the problem better.
You can easily enter the parts of your issue into each sub-section.**

[2021-07-01 20:00] theBeginner86 commented on #119
/reviewed

[2021-07-02 13:22] Anupam-Panwar commented on #118
/assign

[2021-07-02 14:24] #119 closed

[2021-07-02 14:25] #120 closed

[2021-07-03 03:09] #99 closed

[2021-07-03 05:40] Sanyam17-beep opened #128 "Button hover animation"
### Feature request-
Button Line Hover Animation

https://user-images.githubusercontent.com/84903641/124344352-32bf5a00-dbef-11eb-9c84-3f26eef0b9c4.mp4

#### Are you contributing under any open-source program ?

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the is

[2021-07-03 05:41] Sanyam17-beep commented on #128
/assign

[2021-07-03 06:21] siddhi-244 opened #129 "I would like to add loading Animation using html,css."
### Feature request-
I would like to add loading Animation using html,css which can be used as a preloader for any website.

### Describe how this feature will be useful to the users/ contributors-
It can be used as a preloader as well as it can be used while someone is fetching data and it takes time.

#### Are you contributing under any open-source program ?

Psoc.

<hr/>

**Note:**

-   If you

[2021-07-03 06:22] siddhi-244 commented on #129
/assign

[2021-07-03 06:23] siddhi-244 commented on #129
Srry for the mistake sir would you please resolve my doubt here ?

[2021-07-03 06:34] siddhi-244 commented on #129
@Pranav016

[2021-07-03 06:37] Pranav016 commented on #129
I think a Fake Loader is already there in the repo, check here-
https://github.com/ALPHAVIO/Mirage-UI/tree/master/HTML%2BCSS%2BJS/Background

[2021-07-03 06:41] siddhi-244 commented on #129
Ok sir will add there. Thank you sir ! @Pranav016

[2021-07-03 06:42] Pranav016 commented on #129
No I mean this is a repeated component, you can work on some other design. Otherwise same thing would be added twice.
This is same component you want to add - https://github.com/ALPHAVIO/Mirage-UI/tree/master/HTML%2BCSS%2BJS/Background/FakeLoader

[2021-07-03 06:43] siddhi-244 commented on #129
Mine is another one sir !

[2021-07-03 06:45] Pranav016 commented on #129
Design might be different but it will be same as a Fake loader..
`It can be used as a preloader as well as it can be used while someone is fetching data and it takes time.` it will do the same work

[2021-07-03 06:46] Pranav016 commented on #129
You can add screenshots under this issue if the component is different then maintainers can check and approve the issue👍

[2021-07-03 06:46] siddhi-244 commented on #129
Ok will work on different animations

[2021-07-03 06:47] #129 closed

[2021-07-03 06:50] siddhi-244 commented on #129
Ok sir

[2021-07-03 06:58] siddhi-244 opened #130 "Typewriter effect"
### Feature request-
Typewriter effect in css.

### Describe how this feature will be useful to the users/ contributors-
You can add this in your portfolio site to say hello to people or to make it more fascinating.

#### Are you contributing under any open-source program ?

PSOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **I

[2021-07-03 06:58] siddhi-244 commented on #130
/assign

[2021-07-03 08:20] siddhi-244 commented on #130
Shall I start working on it ? @Pranav016

[2021-07-03 08:27] Pranav016 commented on #130
First please check if the design component is already there in the repo and refrain from tagging any maintainers, we periodically review all the issues👍

Reference- https://github.com/ALPHAVIO/Mirage-UI/tree/master/HTML%2BCSS%2BJS/Text-Animations

[2021-07-03 08:27] #130 closed

[2021-07-03 14:01] Sanyam17-beep commented on #128
hey @Pranav016  when will this issue be reviewed

[2021-07-03 16:13] #45 closed

[2021-07-04 05:25] siddhi-244 opened #133 "Add different types of buttons effects"
### Feature request-
Add different types of buttons effects

#### Are you contributing under any open-source program ?

PSOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you sh

[2021-07-04 05:25] siddhi-244 commented on #133
/assign

[2021-07-04 05:28] siddhi-244 opened #134 "Add expand button animation"
### Feature request-
Add expand button animation

### Describe how this feature will be useful to the users/ contributors-
It can be used in any website.

#### Are you contributing under any open-source program ?

PSOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the iss

[2021-07-04 05:33] siddhi-244 commented on #134
/assign

[2021-07-04 06:18] Sanyam17-beep commented on #128
hey @Pranav016 @theBeginner86 how do i add lgm soc label

[2021-07-04 06:43] theBeginner86 commented on #128
See, in the issue template, there is a subsection that asks for the open-source program you are working with. In that you just have to write LGM-SOC then the bot will automatically assign the label for it.

Right now you have written LGM-SOC participant. Try changing it to LGM-SOC.

[2021-07-04 08:39] theBeginner86 commented on #133
/reviewed

[2021-07-04 08:40] theBeginner86 commented on #134
/reviewed

[2021-07-04 08:45] theBeginner86 commented on #133
These buttons are cool but do check the buttons we already have at: https://github.com/ALPHAVIO/Mirage-UI/tree/master/HTML%2BCSS%2BJS/Buttons
I feel that we already have a few of those buttons. So, add those which we are not having already. 👍

[2021-07-04 08:50] siddhi-244 commented on #133
Sure sir

[2021-07-04 09:41] siddhi-244 commented on #133
https://user-images.githubusercontent.com/69195262/124380359-df760600-dcd9-11eb-916f-bb4ba14d499e.mp4

Sir tried these. Are these okayy ??

[2021-07-04 12:44] #13 closed

[2021-07-04 12:58] Pranav016 commented on #133
Should we have separate issues for separate button animations ?
Also meet @siddhi-244, she is one of our mentees from PClub Summer of Code and will be contributing to this project for a month. We need to guide her throughout her contribution phase 👍

I have advised her to add only 2-3 button animations for now so that she can work on other innovative components as well. So I'll be closing this iss

[2021-07-04 13:00] #133 closed

[2021-07-04 13:04] theBeginner86 commented on #133
ok sure. 👍

[2021-07-04 13:43] #128 closed

[2021-07-04 14:31] siddhi-244 opened #136 "Flip button animation"
### Feature request-
Flip button animation

### Describe how this feature will be useful to the users/ contributors-
Anybody can use this component in their website.

#### Are you contributing under any open-source program ?

PSOC
<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to

[2021-07-04 14:31] siddhi-244 commented on #136
/assign

[2021-07-04 17:37] puneetkaur2929 opened #137 "Slide top border Hover stylesheet linking"
### **Describe the bug**
Slide top border hover stylesheet linking error

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to Slidetopborder
2. Click on index.html
3. Scroll down to link stylesheet
4. See error

### **Expected behavior**
Button should show desired hover effect on hovering.

### **Screenshots**
If applicable, add screenshots to help explain your problem.

### **Additiona

[2021-07-04 17:43] puneetkaur2929 commented on #137
/assign

[2021-07-05 04:10] #57 closed

[2021-07-05 04:54] Sanyam17-beep opened #138 "Icons Expansion Component"
### Feature request-
Icons expansion animated component

https://user-images.githubusercontent.com/84903641/124419429-118b7480-dd7b-11eb-8c22-b1ae2b1822bc.mp4

#### Are you contributing under any open-source program ?

  LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to g

[2021-07-05 04:55] Sanyam17-beep commented on #138
/assign

[2021-07-05 10:28] theBeginner86 commented on #137
/reviewed

[2021-07-05 10:31] theBeginner86 commented on #137
Thanks, for pointing it out. 👍

#### Please from next time, type the name of the program as `LGM-SOC` (instead of LGM SOC '21)  so that the bot can automatically apply the required labels. This is clearly mentioned in the comments of the issue template.

[2021-07-05 10:32] theBeginner86 commented on #138
/reviewed

[2021-07-05 10:33] theBeginner86 commented on #138
Looks super cool. 👍

[2021-07-05 10:36] theBeginner86 commented on #136
Could you please add a screenshot/demo-video as well in the issue?

[2021-07-05 10:36] theBeginner86 commented on #136
/reviewed

[2021-07-05 10:39] siddhi-244 commented on #136
https://user-images.githubusercontent.com/69195262/124458993-4d3e3280-ddab-11eb-9ab2-d699bc106f5b.mp4

[2021-07-05 10:39] siddhi-244 commented on #136
@theBeginner86

[2021-07-05 10:43] theBeginner86 commented on #136
@siddhi-244 isn't it the same as #138 which you raised?

[2021-07-05 10:44] siddhi-244 commented on #136
I am sorry I uploaded wrong video

[2021-07-05 10:44] siddhi-244 commented on #136
I will upload again

[2021-07-05 10:45] siddhi-244 commented on #136
https://user-images.githubusercontent.com/69195262/124459812-33511f80-ddac-11eb-920c-0358f9d02d7b.mp4

[2021-07-05 10:45] siddhi-244 commented on #136
@theBeginner86

[2021-07-05 10:46] theBeginner86 commented on #136
looks cool 👍

[2021-07-05 11:08] siddhi-244 commented on #136
Thank you ! Shall I work on it ?

[2021-07-05 11:44] theBeginner86 commented on #136
Yeah, go ahead.

[2021-07-05 12:28] #134 closed

[2021-07-06 03:25] Umesh-01 commented on #97
@Pranav016  should I work on this issue??

[2021-07-06 04:03] Pranav016 commented on #97
Add a screenshot here of the badges you want to add..
After that you can work

[2021-07-06 04:26] Umesh-01 commented on #97
@Pranav016 I will add badges like this one..
and if you want me to add some specific badges then I can also do that...

![image](https://user-images.githubusercontent.com/83420185/124542056-4b727e80-de40-11eb-9c60-fc8b2256a6e2.png)

[2021-07-06 04:54] Pranav016 commented on #97
I think some of these don't look useful to the project, the ones we currently have are fine..

[2021-07-06 04:54] #97 closed

[2021-07-06 06:48] #137 closed

[2021-07-06 08:29] #136 closed

[2021-07-06 08:31] #138 closed

[2021-07-06 08:38] Pranav016 opened #146 "Add an Open-Source event section to README"
### Feature request-
Add an Open-Source event associated section to README
For example-
![image](https://user-images.githubusercontent.com/54665036/124569273-6e625a00-de63-11eb-9148-a8d1fa07df47.png)
(You can get markdown code for this section from here - https://github.com/ALPHAVIO/WordNook)

Currently this project is associated with LGM-SOC and PSoC thus add their image and some info about them.

[2021-07-06 09:51] aanchalrakheja commented on #8
![mui logo](https://user-images.githubusercontent.com/68388581/124580522-d7e76600-de6d-11eb-965e-454d37c46e07.png)

[2021-07-06 10:09] Pranav016 commented on #8
Could be better

[2021-07-06 11:34] aanchalrakheja commented on #8
![mui logo2](https://user-images.githubusercontent.com/68388581/124590154-72e53d80-de78-11eb-8ad2-e6101cca6604.png)
![mui logo3](https://user-images.githubusercontent.com/68388581/124593345-2865c000-de7c-11eb-9da1-b4859317b494.png)
Something like this ?

[2021-07-06 12:15] aanchalrakheja commented on #8
![mui logo 4](https://user-images.githubusercontent.com/68388581/124598178-f7888980-de81-11eb-8f23-b84fe31a48d7.png)

[2021-07-06 15:34] siddhi-244 opened #147 "Add a Glassmorphism form ."
### Feature request-
Want to add a glassmorphism form .

### Is your feature request related to a problem? Please describe. (optional)
N.A

### Describe how this feature will be useful to the users/ contributors-
Users can add this form in any kind of website where there is a login functionality.

#### Are you contributing under any open-source program ?

PSOC
<hr/>

**Note:**

-   If you want to

[2021-07-06 15:34] siddhi-244 commented on #147
/assign

[2021-07-06 16:09] Pranav016 commented on #147
/reviewed

[2021-07-07 06:29] jay-2000 commented on #146
/assign

[2021-07-07 11:03] #146 closed

[2021-07-07 15:42] Sanyam17-beep opened #150 "Image Stack view effect"
### Feature request-
Image Stack view effect

https://user-images.githubusercontent.com/84903641/124789480-f3cf3280-df67-11eb-91b6-9fd6b93b4e71.mp4

#### Are you contributing under any open-source program ?
 LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue

[2021-07-07 15:43] Sanyam17-beep commented on #150
/assign

[2021-07-07 16:04] Pranav016 commented on #150
/reviewed

[2021-07-07 16:10] Pranav016 opened #151 "Add responsive floating fade animation form component"
### Feature request-
Add responsive floating fade animation form component

[2021-07-07 16:11] Pranav016 opened #152 "Add a demo GIF to README of the project"
### Feature request-
Add a demo GIF to README of the project to help new contributors navigate the project and to demonstrate what the project has to offer.

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and wan

[2021-07-07 16:22] #147 closed

[2021-07-08 07:04] ujju20 commented on #71
/assign

[2021-07-08 07:06] ujju20 commented on #77
/assign

[2021-07-08 12:49] #151 closed

[2021-07-08 13:29] ujju20 commented on #71
Can you explain a bit where I have to add this accordion component?

[2021-07-08 13:33] ujju20 commented on #71
Like react has Modal and navBar that way I have to add third design accordion component?

[2021-07-08 13:59] Pranav016 commented on #71
Yes

[2021-07-08 14:07] riasenpai commented on #102
@Khushi-agarwal any updates regarding this issue?

[2021-07-08 14:08] riasenpai commented on #93
@Anshika-Srivastava any updates? Are you still working on the issue?

[2021-07-08 14:12] riasenpai commented on #43
@PurviGoyal7 are you still working on this issue?

[2021-07-08 14:13] Khushi-agarwal commented on #102
Yes I am working on it. Will make a pr by tomorrow.

[2021-07-08 14:52] Pranav016 opened #155 "Add a GitHub action to automatically close any open branches"
### Feature request-
Add a GitHub action to automatically close any open branches.
Sometimes after merging PRs from dependabot and all-contributors, some branches are left open so add a github action that deletes all open branches other than master automatically.

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** yo

[2021-07-08 18:32] riasenpai commented on #102
Sure!

[2021-07-08 21:46] Anupam-Panwar commented on #43
/assign

[2021-07-09 06:44] Pranav016 opened #159 "Add an image overlay on hover animation component"
### Feature request-
Add an image overlay on hover animation component.

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you should comment `/assign` under the issue to ge

[2021-07-09 11:29] siddhi-244 opened #160 "Navbar bubble animation"
### Feature request-
I would be adding a navbar bubble animation.

### Is your feature request related to a problem? Please describe. (optional)
N.A

### Describe how this feature will be useful to the users/ contributors-
Users can use this in their portfolio websites as well as other websites which need navigation bars.

#### Are you contributing under any open-source program ?

PSOC
<hr/>

**No

[2021-07-09 11:29] siddhi-244 commented on #160
/assign

[2021-07-09 12:48] Pranav016 commented on #8
![image](https://user-images.githubusercontent.com/54665036/125079778-a1b21c80-e0e1-11eb-9923-65fbf989cdba.png)
 First one looks good, for now add it to the assets folder of the project. I'll manage the rest 👍

[2021-07-09 17:14] #150 closed

[2021-07-10 06:18] Sanyam17-beep opened #163 "Tilt hover Effect"
### Feature request-
Card Tilt effect on hover

https://user-images.githubusercontent.com/84903641/125153925-b68bc000-e174-11eb-8517-173bc89f1647.mp4

#### Are you contributing under any open-source program ?
 LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issu

[2021-07-10 06:19] Sanyam17-beep commented on #163
/assign

[2021-07-10 09:20] puneetkaur2929 commented on #159
/assign

[2021-07-10 10:01] Anupam-Panwar commented on #41
/assign

[2021-07-10 10:02] Pranav016 commented on #163
/reviewed

[2021-07-10 13:09] #102 closed

[2021-07-10 13:11] theBeginner86 commented on #160
/reviewed

[2021-07-11 12:23] theBeginner86 opened #164 "Automatic Scrolling Background"
### Feature request-
This could be used in various ways to showcase stuff to the users. Examples: testimonials, key features, etc.

https://user-images.githubusercontent.com/73700530/125194844-ab1dbf00-e270-11eb-950e-85b2db188ab5.mov

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment

[2021-07-11 12:23] Anupam-Panwar commented on #164
/assign

[2021-07-11 12:37] #43 closed

[2021-07-11 14:37] #71 closed

[2021-07-11 17:56] #163 closed

[2021-07-12 02:55] ujju20 opened #173 "Add a Footer section in React"
### Feature request-
Footer Section in React

### Is your feature request related to a problem? Please describe. (optional)
No

### Describe the solution you'd like
I want to add a Footer Component in React

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

### Describe how this feature will be useful to the use

[2021-07-12 04:07] swathi-469 commented on #47
O would like to work on this issue please assign this to me

[2021-07-12 04:08] #47 closed

[2021-07-12 08:49] Pranav016 commented on #173
Add a screenshot if possible. And if a simple section like footer is being added then make sure it is responsive and should've good design for others to use it on their website..

[2021-07-12 09:30] ujju20 commented on #173
![image](https://user-images.githubusercontent.com/64632969/125264812-d44a5800-e321-11eb-9543-a74e915cedf7.png)
This kind of a Footer I am talking about.

[2021-07-12 15:24] Sanyam17-beep opened #176 "Image Hover Effect"
### Feature request-
Image Hover Effect

https://user-images.githubusercontent.com/84903641/125313944-5d2db780-e353-11eb-8c1d-ab954db6b052.mp4

#### Are you contributing under any open-source program ?
 LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assig

[2021-07-12 15:25] Sanyam17-beep commented on #176
/assign

[2021-07-12 18:45] aanchalrakheja commented on #8
Ok sure

[2021-07-12 21:05] #41 closed

[2021-07-12 21:07] #8 closed

[2021-07-12 21:10] #160 closed

[2021-07-13 12:49] Sanyam17-beep commented on #176
Hey @theBeginner86 when will this issue get reviewed

[2021-07-13 12:50] theBeginner86 commented on #176
@Sanyam17-beep
Here you go... 😊

[2021-07-13 12:50] theBeginner86 commented on #176
/reviewed

[2021-07-13 17:03] ujju20 commented on #173
This is very complex I will make it simpler so that users can easily use them in their projects

[2021-07-13 17:03] ujju20 commented on #173
This is very complex I will make it simpler so that users can easily use them in their projects

[2021-07-13 17:04] ujju20 commented on #173
/assign

[2021-07-13 17:07] Pranav016 commented on #173
I think a simple footer is easier to make, if people come to our project looking for footer then they are probably looking for a complex one with some animations and stuff.

[2021-07-13 17:09] ujju20 commented on #173
Ok, then I will try to make it.

[2021-07-13 17:55] #176 closed

[2021-07-14 07:08] riasenpai opened #182 "Add React Component for Data Representation"
### Feature request-
Add a React Component for Data representation like graphs / charts /Donut Chart. It has to be dynamic so give the option for using props.

### Describe the solution you'd like
Add these components which can be later reused by the user in their own projects for data representation.

### Describe how this feature will be useful to the users/ contributors-
To depict the data in t

[2021-07-14 11:28] riasenpai commented on #182
![chart 2](https://user-images.githubusercontent.com/67195436/125614422-ed3d69ed-415f-44c4-ab64-1b299526340c.PNG)
![chart example](https://user-images.githubusercontent.com/67195436/125614427-bd5fec84-e831-4027-ab14-2d492da4b179.PNG)

Here are a few examples on how the data can be represented. You can use the popular library Chart.js and make the components  dynamic.

[2021-07-14 16:06] Sanyam17-beep opened #183 "Icon-hover-expansion"
### Feature request-
Icon-hover-expansion

https://user-images.githubusercontent.com/84903641/125654965-ab674dd1-87df-41c3-bd98-4b94d277c518.mp4

#### Are you contributing under any open-source program ?
 LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue ass

[2021-07-14 16:07] Sanyam17-beep commented on #183
/assign

[2021-07-14 16:39] theBeginner86 commented on #183
/reviewed

[2021-07-14 17:38] theBeginner86 opened #184 "Create Bouncing Icon Animation in the Footer"
### Feature request-
Though this looks pretty cool. Still, if you could slightly increase the speed of the bouncing animation then it would look much better.

https://user-images.githubusercontent.com/73700530/125665248-3192bd53-79aa-44bb-b94a-1bde5bcc24b1.mov

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue

[2021-07-14 17:48] theBeginner86 opened #185 "Rotating Image/Card Component (React)"
### Feature request-
This component could be used on websites displaying designs or even on some gaming websites. Do manage the speed of rotation as well so it looks good.

https://user-images.githubusercontent.com/73700530/125667621-5cd905d9-baab-44a0-9cf0-46c64c334cf3.mov

LGM-SOC

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone.

[2021-07-14 20:54] #164 closed

[2021-07-15 06:59] Anupam-Panwar commented on #184
/assign

[2021-07-15 07:03] Anupam-Panwar commented on #185
/assign

[2021-07-15 17:54] #185 closed

[2021-07-16 16:51] #159 closed

[2021-07-17 14:06] theBeginner86 opened #189 "Color-Scheme-Toggle Component"
### Feature request-
This component should help allow the user to switch between different color schemes for a particular website depending upon the choice of the user. This would not only increase customer satisfaction but would also reduce eye strain.

### Additional context

https://user-images.githubusercontent.com/73700530/126039518-39e49a96-0eb5-4d9e-a27e-26b27d497f66.mov

#### Are you contr

[2021-07-18 10:09] Sanyam17-beep commented on #189
/assign

[2021-07-18 10:10] Sanyam17-beep commented on #189
Is this component not under lgm soc @theBeginner86

[2021-07-18 13:12] theBeginner86 commented on #189
It's under LGM SOC. Actually, I opened with an `open` label because now we are expecting contributors from other open-source programs aswell. 👍

[2021-07-19 03:56] #183 closed

[2021-07-20 08:53] nik464 commented on #117
please assign me this issue under lgm soc 2021

[2021-07-20 08:55] nik464 commented on #117
i will surely complete this

[2021-07-20 08:56] nik464 commented on #35
/assign

[2021-07-20 08:57] nik464 commented on #117
/assign

[2021-07-20 09:02] nik464 commented on #117
is it under lgm soc?

[2021-07-20 14:50] theBeginner86 commented on #117
@nik464
Yeah, this is under LGMSOC21. 👍

[2021-07-20 14:51] theBeginner86 commented on #117
/reviewed

[2021-07-20 15:10] theBeginner86 opened #191 "Info Card Animation (React)"
### Feature request-
This card hides the information until the mouse hovers onto it. Once it hovers then it reviles the info within it. This could be used on personal portfolio websites.

### Additional context

https://user-images.githubusercontent.com/73700530/126348333-871dff93-1e6c-44c3-833c-ca223ca0c6ef.mov

#### Are you contributing under any open-source program ?

<hr/>

**Note:**

-   If y

[2021-07-20 15:22] Anupam-Panwar commented on #191
/assign

[2021-07-20 15:50] theBeginner86 opened #193 "Color Fill Card Animation (REACT)"
### Feature request-
This card animation should fill the card with some color when the cursor hovers onto it. Try to make more than one card so that the effect could be more pronounced and the component can be reused much easily. This component can be used on websites for kids or other interactive websites or even on some school websites.
(You can use a better name for the component but make sure

[2021-07-20 15:52] theBeginner86 commented on #191
@Anupam-Panwar I know you are working from LGMSOC but from next do mention it after you assign the issue to yourself, so that the bot can assign the label accordingly. 👍

[2021-07-20 15:56] Anupam-Panwar commented on #191
@theBeginner86 May you please give example because I am not clear about it.

Is it related to a new way of assigning an issue or is there any trigger keyword for bot to assign LGM SOC label to the issue

[2021-07-20 16:01] theBeginner86 commented on #191
No. Actually as now were expecting contributors from other open-source programs as well so we are now opening a new issue with an `open` label so that other contributors could also work on it. According to Github workflows, the LGMSOC label should be added when somebody types LGMSOC in the comment of any issue. Everything is the same as it was.
But it didn't add the label automatically when I type

[2021-07-20 16:03] Anupam-Panwar commented on #191
Got it @theBeginner86

[2021-07-20 16:03] Anupam-Panwar commented on #191
LGMSOC

[2021-07-20 20:23] Pranav016 opened #194 "Navbar Change Background Color on Scroll component in React"
### Feature request-
Navbar Change Background Color on Scroll component in React js

<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue assigned to you.
-   If you are raising a new issue and want to work on it then also you should comment `/assign` under the issue to

[2021-07-21 13:22] #191 closed

[2021-07-25 14:04] #184 closed

[2021-08-01 12:22] Sanyam17-beep commented on #12
hey @theBeginner86 @Pranav016 can i work on this under lgmsoc

[2021-08-01 12:31] theBeginner86 commented on #12
sure, go ahead. 👍

[2021-08-01 12:38] #189 closed

[2021-08-02 03:14] siddhi-244 opened #198 "Card hover animation"
### Feature request-
Card hover animation

### Is your feature request related to a problem? Please describe. (optional)
No

### Describe the solution you'd like
I would like to add this animation.

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

### Describe how this feature will be useful to the users/ contr

[2021-08-02 15:03] riasenpai commented on #198
@siddhi-244 what type are you thinking to add? we already have a few.

[2021-08-02 15:03] riasenpai commented on #173
Hi @ujju20 do you have any updates?

[2021-08-02 15:04] siddhi-244 commented on #198
https://user-images.githubusercontent.com/69195262/127882811-a6cac3c8-bcd5-49e7-8346-f0e05629ab7c.mp4

@riasenpai some thing like this.

[2021-08-02 15:04] riasenpai commented on #118
@Anupam-Panwar do  you have any updates regarding this issue?

[2021-08-03 11:53] Anupam-Panwar commented on #118
@riasenpai I am facing some issues in the process of implementing this component
If this component is in urgent need you may unassign me

[2021-08-03 12:59] theBeginner86 commented on #118
No, it's not urgent until you are still working on it. If you want you may continue. 👍

[2021-08-04 07:01] riasenpai commented on #198
ok go ahead @siddhi-244 . Its a little similar to Card Pop up on hover but this works too!

[2021-08-04 07:59] theBeginner86 commented on #198
@siddhi-244, just wanted to know will you be using React or just HTML/CSS/JS? Because we have something exactly like this with React. Please check out the
issue at: #191
PR: #195

But if you are not using React or the UI is different than the one in the PR, then it would be fine. 👍

[2021-08-04 08:00] siddhi-244 commented on #198
I will try with html,css

[2021-08-05 15:18] Anupam-Panwar commented on #118
@theBeginner86 I am facing difficulty to implement this component
thus it would be better if you may assign it to some other contributor

[2021-08-08 20:15] Ayonijakaushik19 opened #199 "Multiple typos and grammatical errors in Readme.md file"
### **Describe the bug**
There are multiple typos and grammatical errors in  Readme.md file

### **To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### **Expected behavior**
A clear and concise description of what you expected to happen.

### **Screenshots**
If applicable, add screenshots to help explain your problem.

### **A

[2021-08-08 20:16] Ayonijakaushik19 commented on #199
Hi @Pranav016 , please assign this issue to me.

[2021-08-08 20:17] Pranav016 commented on #199
Can you add a screenshot of some errors you found?

[2021-08-09 11:30] #12 closed

[2021-08-09 12:32] Sanyam17-beep opened #201 "Circular-icon-expansion"
### Feature request-
A clear and concise description of the feature.

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives you've considered
A clear and concise description of any alternative so

[2021-08-09 12:33] #201 closed

[2021-08-09 12:35] Sanyam17-beep opened #202 "circular-icon-expansion"
### Feature request-
circular-icon-expansion

https://user-images.githubusercontent.com/84903641/128706950-83308bbb-fda5-4787-8b5b-d9e1131f475a.mp4

#### Are you contributing under any open-source program ?
LGM-SOC
<hr/>

**Note:**

-   If you want to work on an issue, you should check if it has already been assigned to anyone. **If the issue is free** you can comment `/assign` to get the issue as

[2021-08-09 12:43] Sanyam17-beep commented on #202
/assign

[2021-08-09 15:02] Sanyam17-beep commented on #202
Hey @Pranav016 and @theBeginner86 please review is asap I have one more pr to get merged

[2021-08-09 15:03] theBeginner86 commented on #202
/reviewed

[2021-08-10 08:24] Sanyam17-beep opened #204 "Download button"
### Feature request-
Download button

https://user-images.githubusercontent.com/84903641/128833795-50fceffe-01b7-4c6f-beaf-ef942a86af60.mp4

### Is your feature request related to a problem? Please describe. (optional)
A clear and concise description of what the problem is.

### Describe the solution you'd like
A clear and concise description of what you want to happen.

### Describe alternatives

[2021-08-10 08:25] Sanyam17-beep commented on #204
/assign

[2021-08-10 08:25] Sanyam17-beep commented on #204
hey @theBeginner86 please review it

[2021-08-10 08:32] theBeginner86 commented on #204
It seems good but please raise an issue for it first. 👍

[2021-08-10 08:33] theBeginner86 commented on #204
/reviewed

[2021-08-10 09:22] #202 closed

[2021-08-13 03:56] #204 closed

[2021-08-13 04:33] saloni-15 commented on #118
/assign

[2021-08-13 07:26] saloni-15 commented on #118
Do we have to add this carousel to a different folder or modify the previous one?
@theBeginner86

[2021-08-13 07:34] theBeginner86 commented on #118
you can add it to the same folder but with a specific name. Like `always-moving-carousel` or something of that sort. Basically, we are trying to have different forms of reusable components in this project, so the more variety we have the better it is. 👍

[2021-08-13 10:17] saloni-15 commented on #72
/assign

[2021-08-13 14:17] #118 closed

[2021-08-13 16:12] #199 closed

[2021-08-15 11:26] #72 closed

[2021-08-17 09:35] #198 closed

[2021-08-30 05:19] siddhi-244 opened #210 "Animated progress Bar"
### Feature request-
Dynamic animated progress bar.

### Is your feature request related to a problem? Please describe. (optional)
No

### Describe the solution you'd like
I would like to add a animated progress bar in html,css,js

### Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

### Describe how this feature w

[2021-08-31 10:06] siddhi-244 commented on #210
shall i start working on it ?

[2021-09-02 14:03] #210 closed

[2021-09-27 13:10] bharati-21 commented on #193
Hey @theBeginner86,
Would like to know if this issue is part of Hacktoberfest'21?

[2021-09-27 13:14] bharati-21 commented on #193
Hi @theBeginner86 ,
Would like to take up this issue as a part of Hacktoberfest '21.

[2021-09-27 13:17] theBeginner86 commented on #193
Sure, go ahead!! 👍
Do read the note at the end of the issue.
You'll understand, how to assign it to yourself!!

[2021-09-28 06:10] bharati-21 commented on #193
Sure, thank you!

`/assign`

[2021-09-28 06:20] theBeginner86 commented on #193
Please done use `/assign`, just use the keyword and ignore ``. Those are used for emphasis and so that the GitHub action doesn't assign us the issue when we are creating it. From next time, please keep this in mind. Also, you may seek help from other closed issues, about how other contributors assigned the issue to themselves👍
This time, I'll assign you this issue manually. 🙂

You may start workin

[2021-09-30 17:43] utkarsh1311 opened #212 "Add Card with Hover animation"
### Feature request-
Add a card element which has an animation on hover and show some info.

### Describe how this feature will be useful to the users/ contributors-
Users will be able to use this card in their projects like a recipe or blog card.

### Additional context
This is how the card will look
![](https://media.giphy.com/media/j9A7qn9G6XLtE7Wkas/giphy.gif?cid=790b761117fa28aca91af12ae19401

[2021-09-30 17:44] utkarsh1311 commented on #212
/assign

[2021-10-01 14:18] bharati-21 commented on #193
Hey @theBeginner86. Thank you :)
Sorry, my bad. This is my first time working on a repo that has actions! Usually moderators assign them right! But cool, I'll keep this in mind.

Also, how good does "animated cards" sound? I'd make it as the component name as well. (AnimatedCard.js).

[2021-10-01 14:24] theBeginner86 commented on #193
No worries, we can understand. 🙌
Yeah, sure. That sounds cool. 👍

[2021-10-05 17:08] utkarsh1311 commented on #152
Hey @Pranav016 . I would like to work on this. Can you elaborate a bit more on what exactly needs to be done?

[2021-10-05 17:08] bharati-21 commented on #193
Yes, I looked at other

Yes, I did review other merged components!

[2021-10-05 18:14] Pranav016 commented on #152
Sure, basically you need to make a demo gif/ screen recording that will display how to navigate the project and look for designs for their specific needs. You can show in the screen recording that there are demos available for each design in their respective folder README that they can see and choose the design.

In short, you can open and show a couple folders and the designs they contain in the

[2021-10-06 11:08] bharati-21 commented on #193
Hi @theBeginner86,
I have created a PR.
Kindly review it!

[2021-10-06 15:17] #193 closed

[2021-10-06 18:11] #212 closed